<section class="flex flex-wrap justify-content-center bg-blue-100 rounded shadow-sm">
<h1 class="text-center">Blog Title: {{post.title}}</h1>
<div class="justfiy-content-center">{{post.content}}</div>
{{#if post.comments}}
{{#each post.comments}}
<div>{{comment}}</div>
<div>Posted by: {{user.username}} on {{timestamp}}</div>

{{/each}}
{{/if}}
<label class="text-gray-700">Comment Here</label>
    <input class="w-full py-2 bg-gray-100 text-gray-500 px-1 mb-4" type="text" id="comment">
<button type="submit" class="bg-blue-500 w-full text-gray-100 py-2 hover-bg-blue-700 transition-colors" id="commentbutton">Submit Comment</button>
</section>